<div class="padit">
	<%= render :partial=>'navigation', :locals=>{:team=>@team} %>

	<div class="card m10">
		<%= render :partial=>'banner', :locals=>{:team=>@team} %>

		<div class="card_puff">	
			<section class="team_theme">
				<div class="team_logo"><%= image_tag('team_logo.jpg', :style=>'width:200px; height:200px') %></div><br />
			</section>
			<section class="team_info">
				<div class="manager_info clearfix"><div class="m10"><%= @team.description %></div></div>
			</section>
		</div><!--end card_puff -->

		<!--<section class="team_extra_info">
			<ul class="clearfix">
				<li>
					<span>WWLWLW</span>Winning Streak
				</li>
				<li>
					<span><%= @team.top_run_scorer ? link_to(@team.top_run_scorer.name, player_path(@team.top_run_scorer)) : '-' %></span>
					Top Run Scorer
				</li>
				<li>
					<span><%= @team.top_wicket_taker ? link_to(@team.top_wicket_taker.name, player_path(@team.top_wicket_taker)) : '-' %></span>
					Top Wicket Taker
				</li>
				<li>
					<span><%= @team.captain ? link_to(@team.captain.name, player_path(@team.captain)) : '-' %></span>
					Captain
				</li>
			</ul>
			<div class="team_share">
				<%#= link_to image_tag('fb-share-button.png'), '' %>
			</div>-->
			<br clear="all" />
		</section>
	</div><!--end card -->
	<br /><br clear="all" />

	<div class="span5">
		<h3 class="star_head2">Players</h3>
		<div id="players_list" class="m10 non_premium">
			<% @team.players.each do |player| %>
			<section class="player_condensed">
				<h2 class="player_name p_medium"><%= link_to player.name, player %></h2>  

				<div class="player_info2">
					<div class="span1 ml0">
						<img src="<%= asset_path('team_logo.jpg') %>" />
					</div>
					<div class="span3">
						Age: <strong><%= player.user.age %></strong><br />
						Height: <strong><%= player.user.height %></strong><br />
						Batting Style: <strong><%= player.user.batting_style %></strong><br />
						Bowling Style: <strong><%= player.user.bowling_style %></strong>
					</div>	
					<br clear="all" />
				</div>
			</section>
			<% end %>
		</div>
	</div>

	<div class="span5 offset1">
		<h3 class="star_head2">Matches</h3>
		<%= render :partial=>"recent_matches", :locals=>{:team=>@team} %>
	</div>
	<br clear="all" /> 
</div>