<%= render :partial => 'header' %>
<div class="padit">
	<h1>Inning 1</h1>
	
	<%= nested_form_for(@match, url: {action: "save_inning"}) do |f| %>
		<h4 class="sub_head"><%= @match.first_batting_team.name %> Batting</h4>
		<table>
			<tr>
				<th>Position</th>
				<th>Batsman</th>
				<th>&nbsp;</th>
				<th>Runs</th>
				<th>Balls</th>
				<th>Fours</th>
				<th>Sixes</th>
			</tr>
			<%= f.fields_for :match_performances, @match.first_batting_performances do |batting_performance| %>
				<tr>
					<%= batting_performance.hidden_field(:player_id) %>
					<%= batting_performance.hidden_field(:team_id) %>
					<td><%= batting_performance.text_field(:batting_position, :value=>1, :class=>'scorecard_field position') %></td>
					<td><%= batting_performance.object.player.name %></td>
					<td><%= batting_performance.text_field(:mode_of_dismissal, :class=>'scorecard_field') %></td>
					<td><%= batting_performance.text_field(:runs_scored, :class=>'scorecard_field') %></td>
					<td><%= batting_performance.text_field(:balls_faced, :class=>'scorecard_field') %></td>
					<td><%= batting_performance.text_field(:fours, :class=>'scorecard_field') %></td>
					<td><%= batting_performance.text_field(:sixes, :class=>'scorecard_field') %></td>
				</tr>
			<% end %>
		</table>
		
		<h4 class="sub_head">Bowling</h4>
		<table>
			<tr>
				<th>Position</th>
				<th>Bowler</th>
				<th>Overs</th>
				<th>Runs</th>
				<th>Wickets</th>
			</tr>
			<%= f.fields_for :match_performances, @match.second_batting_performances do |bowling_performance| %>
				<tr>
					<%= bowling_performance.hidden_field(:player_id) %>
					<%= bowling_performance.hidden_field(:team_id) %>
					<td><%= bowling_performance.text_field(:bowling_position, :value=>1, :class=>'scorecard_field position') %></td>
					<td><%= bowling_performance.object.player.name %></td>
					<td><%= bowling_performance.text_field(:balls_bowled, :class=>'scorecard_field') %></td>
					<td><%= bowling_performance.text_field(:runs_conceded, :class=>'scorecard_field') %></td>
					<td><%= bowling_performance.text_field(:wickets, :class=>'scorecard_field') %></td>
				</tr>
			<% end %>
		</table>	
		<%= f.submit %>
	<% end %>
</div>