<div class="padit">
	<%= nested_form_for(@match, url: {action: "save_lineup"}) do |f| %>
		<h4 class="sub_head"><%= @match.home_team.name %> Squad</h4>
		<%= f.fields_for :team_a_match_players do |match_player| %>
			<%= match_player.hidden_field(:team_id, :value =>@match.home_team_id) %>
			<%= match_player.collection_select(:player_id, Player.filter_team(@match.home_team_id), :id, :name) %>
		<% end %>
		
		<br /><br />
		
		<h4 class="sub_head"><%= @match.away_team.name %> Squad</h4>
		<%= f.fields_for :team_b_match_players do |match_player| %>
			<%= match_player.hidden_field(:team_id, :value =>@match.away_team_id) %>
			<%= match_player.collection_select(:player_id, Player.filter_team(@match.away_team_id), :id, :name) %>
		<% end %>
		<%= f.submit %>
	<% end %>
</div>