<!DOCTYPE html>
<html>
<head>
  <title>Over n Out Cricket Tounament | Make a Difference</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial=>"shared/top_big_nav" %>
	<%= render :partial=>"shared/top_nav" %>
	<div class="container" id="main_container">    
		<div class="row">
			<div id="main" class="span12">                   
				<article>
					<%= yield %>
				</article>
			</div>
		</div>
	</div>
</body>
</html>
